<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- linkme一键登录补充权限 -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeyBoardDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity1" />
        <activity android:name=".TestActivity2"
            android:windowSoftInputMode="adjustNothing" />

<!--        android:windowSoftInputMode="adjustUnspecified"-->
<!--        android:windowSoftInputMode="adjustPan"-->
<!--        android:windowSoftInputMode="adjustResize"-->
        <activity android:name=".TestActivity3"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:importantForContentCapture="no" /> />

        <activity android:name=".test4.TestActivity4"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity android:name=".test5.TestActivity5"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity android:name=".test6.TestActivity6"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity android:name=".test7.TestActivity7"
            android:windowSoftInputMode="adjustPan" />


        <activity android:name=".test8.TestActivity8"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".test9.TestActivity9"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".test10.TestActivity10"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".test11.TestActivity11"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".test12.TestActivity12"
            android:windowSoftInputMode="adjustResize" />

        <!-- 对比测试 Activity -->
        <activity
            android:name=".test13.TestActivity13"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />

        <!-- 详细测试 Activity -->
        <activity
            android:name=".test13.DetailedTestActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity android:name=".test14.TestActivity14"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".test15.TestActivity15"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"/>

        <activity
            android:name=".test16.LiveRoomActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="true">
        </activity>


    </application>

</manifest>