<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeyBoardDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity1" />
        <activity android:name=".TestActivity2"
            android:windowSoftInputMode="adjustNothing" />

<!--        android:windowSoftInputMode="adjustUnspecified"-->
<!--        android:windowSoftInputMode="adjustPan"-->
<!--        android:windowSoftInputMode="adjustResize"-->
        <activity android:name=".TestActivity3"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".test4.TestActivity4"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity android:name=".test5.TestActivity5"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity android:name=".test6.TestActivity6"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

    </application>

</manifest>